<nav class="sw-Pgnt" aria-label="pagination">
  <a class="sw-Pgnt_Prev is-disabled"><i class="far fa-angle-left"></i> Prev</a>
  <a href="#" class="sw-Pgnt_Next">Next <i class="far  fa-angle-right"></i></a>
  <ul class="sw-Pgnt_Pages">
    <li class="sw-Pgnt_Num">
      <a href="#">1</a>
    </li>
    <li class="sw-Pgnt_Num">
      <a href="#">2</a>
    </li>
    <li class="sw-Pgnt_Num is-current">
      <a>3</a>
    </li>
    <li class="sw-Pgnt_Num">
      <a href="#">4</a>
    </li>
    <li class="sw-Pgnt_Num">
      <a href="#">5</a>
    </li>
  </ul>
</nav>
