@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=F7B62716-1A80-4361-BDDD-32801D18F151

@masakikojima:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=4f959496e40bdfbfd508d5ffa5b8a1dc796aa2c4
