<div class="sw-Card">
  <div class="sw-Card_Item">
    <figure class="sw-Card_Pic">
      <img src="http://placehold.it/350x200" alt="Title">
    </figure>
    <h2 class="sw-Card_Title">Title</h2>
    <time class="sw-Card_Date" datetime="2018-10-18">2018.10.18</time>
    <div class="sw-Card_Body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque tempora nihil ad eos velit alias accusantium magni. Sint, harum, cupiditate.</p>
    </div>
    <a href="#" class="sw-Card_Button sw-Button">Read More</a>
  </div>
  <div class="sw-Card_Item">
    <figure class="sw-Card_Pic">
      <img src="http://placehold.it/350x200" alt="Title">
    </figure>
    <h2 class="sw-Card_Title">Title</h2>
    <time class="sw-Card_Date" datetime="2018-10-8">2018.10.8</time>
    <div class="sw-Card_Body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolor quia error, ea repellat distinctio autem. Aspernatur tempore, quam delectus, libero distinctio nam aut dolore, doloremque cupiditate, sed voluptate. Pariatur temporibus, ea iusto ducimus. Quod, velit explicabo?</p>
    </div>
    <a href="#" class="sw-Card_Button sw-Button">Read More</a>
  </div>
  <div class="sw-Card_Item">
    <figure class="sw-Card_Pic">
      <img src="http://placehold.it/350x200" alt="Title">
    </figure>
    <h2 class="sw-Card_Title">Title</h2>
    <time class="sw-Card_Date" datetime="2018-9-1">2018.9.1</time>
    <div class="sw-Card_Body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, repellat ad ipsum enim tempore, delectus fuga repudiandae ipsa velit iure harum odit dolores molestiae debitis ut perspiciatis culpa distinctio placeat?</p>
    </div>
    <a href="#" class="sw-Card_Button sw-Button">Read More</a>
  </div>
</div>
