<div class="sw-News">
  <dl class="sw-News_Item">
    <dt class="sw-News_Date">
      <time datetime="2018-10-18">2018.10.18</time>
    </dt>
    <dt class="sw-News_Category">
      <span>Information</span>
    </dt>
    <dd class="sw-News_Title">
      <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto incidunt nemo consectetur, blanditiis labore error?</a>
    </dd>
  </dl>
  <dl class="sw-News_Item">
    <dt class="sw-News_Date">
      <time datetime="2018-10-8">2018.10.8</time>
    </dt>
    <dt class="sw-News_Category">
      <span>Event</span>
    </dt>
    <dd class="sw-News_Title">
      <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore totam ad laboriosam, facilis vitae, omnis possimus cupiditate alias sunt itaque adipisci blanditiis.</a>
    </dd>
  </dl>
  <dl class="sw-News_Item">
    <dt class="sw-News_Date">
      <time datetime="2018-9-1">2018.9.1</time>
    </dt>
    <dt class="sw-News_Category">
      <span>Press Release</span>
    </dt>
    <dd class="sw-News_Title">
      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
    </dd>
  </dl>
</div>
