.container {
  padding-right: ($gap / 2);
  padding-left: ($gap / 2);
  margin-right: auto;
  margin-left: auto;

  @media #{$desktop} {
    width: $container-desktop;
  }

  @media #{$wide} {
    width: $container-wide;
  }

  @media #{$fullhd} {
    width: $container-fullhd;
  }
}
